:root {
  --welcome-card-bg: white;
  --welcome-text: #e3deff;
  --welcome-bg-start: #01224d;
  --welcome-bg-end: #3d73a2;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 10;
  --transition-duration: 0.5s;
}
