:root {
  --bg: white;
  --welcome-card-bg: white;
  --welcome-text: #e3deff;
  --welcome-bg-start: #01224d;
  --welcome-bg-end: #3d73a2;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 8;
  --z-index-overlay: 16;
  --z-index-navbar: 32;
  --transition-duration: 0.5s;
  --button-bg: #01224d;
  --button-text: white;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --button-bg-danger: #e8654b;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-text: white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --overlay-user-bg: #01224d;
  --overlay-user-text: white;
  --top-safe-area-height: 24px;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --button-border-color: #ddd;
  --button-pad-text: #01224d;
  --amount-text: #53a867;
  --date-text: #999;
  --inputPad-button-bg: white;
  --inputPad-button-bg-important: #3d73a2;
  --button-text-important: white;
  --button-bg-important: #01224d;
  --input-min-height: 48px;
  --input-border-color: #01224d;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --error-color: #e10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;
  --main: #01224d;
  --tag-bg: #efefef;
  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);
  --main: #01224d;
  --total-bg: #01224d;
  --total-text: white;
  --total-income: #e8654b;
  --total-expenses: #53a867;
  --dialog-header-text: white;
  --text: #333;
  --overlay-z-index: 64;
  --app-name-text: #3d73a2;
  --bar-bg: #cccccc;
  --text-muted: #666;
}
